.imagenfondo{
    --background: url(../../../assets/img/food.jpg) 0 0/100% 100% no-repeat;
}

.imagenfondoInicio{
    --background: url(../../../assets/img/foodinicio.jpg) 0 0/100% 100% no-repeat;
}

.colorfondo{
    background-color: #fef9e1;
}